.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 15px;
  margin-top: 15px;
  z-index: 100;
}

.header__logo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
}

.header__center {
  flex: 0.96;
  display: flex;
  justify-content: center;
}

.header__center > p {
  margin: 10px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.header__right > p {
  margin: 10px;
}
