@font-face {
  font-family: "iCiel-Medium";
  src: local("iCiel-Medium"), url("./fonts/iCiel-Medium.ttf"),
    format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "iCiel-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
